<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Tech Blog</title>
</head>
<body>
  <header>
    <h1>Tech Blog</h1>
    <nav>
      {{#if user}}
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Log Out</a>
      {{else}}
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
      {{/if}}
    </nav>
  </header>

  <div class="container">
    {{{body}}}
  </div>

  
</body>

</body>
</html>
