<!-- views/signup.handlebars -->



<h2>Sign Up</h2>

<form id="signupForm">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Sign Up</button>
</form>
<script src="/js/signup.js"></script>